/* .bio p {
    font-size: 28px;
    font-weight: 700;
} */

.alt-header {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-family: var(--fontFamily-alt);
  font-weight: 700;
}