@font-face {
    font-family: "FuturaNowHeadline";
    src: url("./fonts/FuturaNowHeadline-Bd.otf");
  }

@font-face {
    font-family: "DarkmodeBold";
    src: url("./fonts/Darkmode_W_DarkmodeOffBd.woff2");
}

@font-face {
    font-family: "DarkmodeBlack";
    src: url("./fonts/Darkmode_W_DarkmodeOffBlk.woff2");
}

@font-face {
    font-family: "DarkmodeLight";
    src: url("./fonts/Darkmode_W_DarkmodeOffLt.woff2");
}

@font-face {
    font-family: "DarkmodeMedium";
    src: url("./fonts/Darkmode_W_DarkmodeOffMd.woff2");
}

@font-face {
    font-family: "DarkmodeRegular";
    src: url("./fonts/Darkmode_W_DarkmodeOffRg.woff2");
}

@font-face {
    font-family: "DarkmodeThin";
    src: url("./fonts/Darkmode_W_DarkmodeOffTh.woff2");
}

@font-face {
    font-family: "InterBlack";
    src: url("./fonts/Inter-Black.ttf");
}

@font-face {
    font-family: "InterBold";
    src: url("./fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "InterExtraBold";
    src: url("./fonts/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: "InterLight";
    src: url("./fonts/Inter-Light.ttf");
}

@font-face {
    font-family: "InterMedium";
    src: url("./fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: "InterRegular";
    src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "InterSemiBold";
    src: url("./fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "InterThin";
    src: url("./fonts/Inter-Thin.ttf");
}

@font-face {
    font-family: "PoppinsBlack";
    src: url("./fonts/Poppins-Black.ttf");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "PoppinsExtraBold";
    src: url("./fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url("./fonts/Poppins-SemiBold.ttf");
}